@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@200;300;400;500;600&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

:root {
  --font-primary: "DM Sans", sans-serif;
  --font-heading: "Space Grotesk", monospace;
  --clr-primary: #212121;
  --clr-neutral: #f1f1f1;
  --clr-neutral-200: #dbdbdb;
  --clr-accent: #85f03e;
}

body {
  font-family: var(--font-primary);
  background-color: var(--clr-primary);
  color: var(--clr-neutral);
}

div#root {
  height: 100vh;
}

/* RESET CSS */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

ul li {
  list-style-type: none;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

/*  UTILITY CLASSES */

.grid-bg {
  background-size: 20px 20px;
  background-image: linear-gradient(to right, #2a3224 1px, transparent 1px),
    linear-gradient(to bottom, #2a3224 1px, transparent 1px);
  background-position: top center;
  image-rendering: pixelated;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    10%,
    white,
    90%,
    transparent
  );
  position: absolute;
  inset: 0;
  z-index: -100;
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.btn {
  padding: 1rem 2rem;
  display: inline-block;
  transition: all 300ms ease;
  font-family: var(--font-heading);
}
.btn-primary {
  border: 1px solid var(--clr-accent);
}
.btn-primary:hover,
.btn-primary:focus-within {
  background-color: var(--clr-accent);
  color: var(--clr-primary);
}
.btn-secondary {
  border: 1px solid var(--clr-accent);
  background-color: var(--clr-accent);
  color: var(--clr-primary);
}
.btn-secondary:hover,
.btn-secondary:focus-within {
  background-color: transparent;
  color: var(--clr-neutral);
}

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
    gap: 2em;
  }
  .split > * {
    flex-basis: 100%;
  }
}

/* NAVBAR */

nav.container {
  padding-block: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-heading);
  font-size: 1.2rem;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
.nav-links a span {
  margin-right: 10px;
  color: var(--clr-accent);
  font-size: 1rem;
  font-family: var(--font-primary);
}
#logo img {
  height: 50px;
  width: 50px;
}

/* HERO SECTION */

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 65%;
}
main p {
  color: var(--clr-neutral-200);
}
main span {
  color: var(--clr-accent);
}
.hero__title {
  font-family: var(--font-heading);
  color: var(--clr-accent);
  font-weight: 500;
  font-size: 7rem;
  line-height: 1;
  padding-block: 3rem;
}
.hero__labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
