@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@200;300;400;500;600&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

:root {
  --font-primary: "DM Sans", sans-serif;
  --font-heading: "Space Grotesk", monospace;
  --clr-primary: #212121;
  --clr-neutral: #f1f1f1;
  --clr-neutral-200: #dbdbdb;
  --clr-accent: #85f03e;
}

body {
  font-family: var(--font-primary);
  background-color: var(--clr-primary);
  color: var(--clr-neutral);
}

div#root {
  height: 100vh;
}

/* RESET CSS */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

ul li {
  list-style-type: none;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

/* LOCOMOTIVE */

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

/*  UTILITY CLASSES */

.grid-bg {
  background-size: 20px 20px;
  background-image: linear-gradient(to right, #2a3224 1px, transparent 1px),
    linear-gradient(to bottom, #2a3224 1px, transparent 1px);
  background-position: top center;
  image-rendering: pixelated;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    10%,
    white,
    90%,
    transparent
  );
  position: absolute;
  inset: 0;
  z-index: -100;
}

.grid-bg-2 {
  background-size: 20px 20px;
  background-image: linear-gradient(to right, #344626 1px, transparent 1px),
    linear-gradient(to bottom, #344626 1px, transparent 1px);
  background-position: top center;
  image-rendering: pixelated;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    10%,
    white,
    90%,
    transparent
  );
  position: absolute;
  inset: 0;
  z-index: -100;
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.btn {
  padding: 1rem 2rem;
  display: inline-block;
  transition: all 300ms ease;
  font-family: var(--font-heading);
}
.btn-primary {
  border: 1px solid var(--clr-accent);
}
.btn-primary:hover,
.btn-primary:focus-within {
  background-color: var(--clr-accent);
  color: var(--clr-primary);
}
.btn-secondary {
  border: 1px solid var(--clr-accent);
  background-color: var(--clr-accent);
  color: var(--clr-primary);
}
.btn-secondary:hover,
.btn-secondary:focus-within {
  background-color: transparent;
  color: var(--clr-neutral);
}

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
    gap: 2em;
  }
  .split > * {
    flex-basis: fit-content;
  }
}

/* NAVBAR */

nav.container {
  padding-block: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-heading);
  font-size: 1.2rem;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
.nav-links li {
  display: inline-block;
  transform: translateY(100%);
  opacity: 0;
}
[data-animation-1] {
  animation: navbarFadeIn 750ms cubic-bezier(0.53, 0, 0.22, 1) forwards;
  animation-delay: 300ms;
}
[data-animation-2] {
  animation: navbarFadeIn 750ms cubic-bezier(0.53, 0, 0.22, 1) forwards;
  animation-delay: 500ms;
}
[data-animation-3] {
  animation: navbarFadeIn 750ms cubic-bezier(0.53, 0, 0.22, 1) forwards;
  animation-delay: 700ms;
}
[data-animated-btn] {
  animation: btnFadeIn 750ms cubic-bezier(0.53, 0, 0.22, 1) forwards;
  animation-delay: 2300ms;
  transform: translateX(-100%);
  opacity: 0;
  overflow-x: hidden;
}
[data-animated-logo] {
  animation: logoFadeIn 750ms cubic-bezier(0.53, 0, 0.22, 1) forwards;
  animation-delay: 2300ms;
  transform: translateY(-100%);
  opacity: 0;
  overflow-y: hidden;
}
.nav-links a span {
  margin-right: 10px;
  color: var(--clr-accent);
  font-size: 1rem;
  font-family: var(--font-primary);
}
#logo img {
  height: 50px;
  width: 50px;
}
@keyframes navbarFadeIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* HERO SECTION */

#hero-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 65%;
}
#hero-section p {
  color: var(--clr-neutral-200);
}
#hero-section span {
  color: var(--clr-accent);
}
.hero__subtitle {
  animation: titleFadeIn 750ms cubic-bezier(0.53, 0, 0.22, 1) forwards;
  animation-delay: 1200ms;
  transform: translateX(-100%);
  overflow-x: hidden;
  opacity: 0;
}
.hero__title {
  font-family: var(--font-heading);
  color: var(--clr-accent);
  font-weight: 500;
  font-size: 7rem;
  line-height: 1;
  padding-block: 3rem;
  animation: titleFadeIn 750ms cubic-bezier(0.53, 0, 0.22, 1) forwards;
  animation-delay: 1500ms;
  transform: translateX(-100%);
  overflow-x: hidden;
  opacity: 0;
}
.hero__labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.hero__labels p {
  animation: titleFadeIn 750ms cubic-bezier(0.53, 0, 0.22, 1) forwards;
  animation-delay: 1800ms;
  transform: translateX(-100%);
  overflow-x: hidden;
  opacity: 0;
}
@keyframes titleFadeIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes btnFadeIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes logoFadeIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* BIKE SECTION */

section {
  padding-block: 6rem;
}

.section__title {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 4rem;
  line-height: 1;
  padding-bottom: 4rem;
}
.section__title span {
  color: var(--clr-accent);
  font-family: var(--font-heading);
}
.group__gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
.group__gallery-item {
  width: 298px;
  height: 298px;
  border: 2px solid var(--clr-accent);
  font-family: var(--font-heading);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.group__gallery-item > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.moto-title {
  font-weight: 500;
  font-size: 1.2rem;
}
.moto-infos {
  font-weight: 300;
}
.moto-infos span {
  font-weight: 500;
}

/* Stats Section */

.stats-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.stats-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.stats-header {
  font-family: var(--font-heading);
  font-size: 6rem;
  font-weight: 500;
  color: var(--clr-accent);
}
.stats-header ~ p {
  text-transform: uppercase;
  color: var(--clr-neutral-200);
}

/* SHOWCASE SECTION */

.showcase-text {
  font-family: var(--font-heading);
  font-size: 3rem;
}
.showcase-text::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 0%;
  bottom: 0%;
  width: 130%;
  left: -35%;
  background: url(noise.webp) repeat,
    linear-gradient(83.21deg, var(--clr-primary) 0%, var(--clr-accent) 100%);
  background-blend-mode: overlay;
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.6), transparent 70%);
  mask-image: radial-gradient(rgba(0, 0, 0, 0.4), transparent 70%);
}
.showcase-subtitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
  text-align: center;
  color: var(--clr-neutral-200);
}
